

.bg-near-amoled{
  background: #090809;
}

.bg-white{
  background: white;
}

.color-white{
  color:#ffff;
}
.color-dark{
  color: #333;
}
.color-black{
  color: black;
}
  

.bg-dark-translucent{
  background: rgba(0,0,0,0.3);
}