#gallery{
    position: relative;
}

#outrdevents-home-gallery-search{
    display: flex;
    justify-content: center;

    #outrdevents-home-gallery-grid-btn{
        margin: auto auto auto 0;
        position: relative;
    }
    #outrdevents-home-gallery-dropbox-btn{
        margin: auto 0 auto auto;
        position: relative;
    }

    button{
        background: none;
        outline:none;
        color: white;
        border:none;
        padding: 0;
        font-size:18px;
        font-weight: 0 !important;
    }


  }


  .gallery-item{
      position: relative;
      background: none !important;
      border:none !important;
      outline: none !important;
  }


  .gallery-item-image{
      position: relative !important;
      max-width: 100%;
      object-fit: cover;
      display: flex;
      justify-content: center;
      overflow: hidden;

      img{
          min-width: 100%;
          width: 100%;
          max-width: 100%;
          min-height: 100%;
          height: 100%;
          max-height: 100%;

          flex-shrink: 0;

      }
  
  
        .gallery-item-cover{
            content: '';
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(45, 62, 80, 0.6);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 11;

            opacity: 0;
            pointer-events: none !important;

            i{
                margin: auto;
                font-size:48px;
                filter: drop-shadow(rgba(0, 0, 0, 0.01) 0 0 1px);
            }
        }


        img:hover + .gallery-item-cover{
            opacity: 1;
        }
    }

    .gallery-item-details{
        display: flex;
        justify-content: space-between;
        padding:5px 0px;

        p{
            font-size:13px;
            text-transform: capitalize;
            color: rgba(255,255,255,0.5);
            white-space: nowrap;
            width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
        }
        small{
            font-size:13px;
            text-transform: capitalize;
            color: rgba(255,255,255,0.5);
            white-space: nowrap;
            text-align: right;
        }



    }