#gallery{
    position: relative;
    will-change: contents !important;
    padding: 50px 20px;
}

#outrdevents-home-gallery-search{
    display: flex;
    justify-content: center;
    padding: 20px;

    #outrdevents-home-gallery-grid-btn{
        margin: auto auto auto 0;
        position: relative;
    }
    #outrdevents-home-gallery-dropbox-btn{
        margin: auto 0 auto auto;
        position: relative;
    }

    button{
        background: none;
        outline:none;
        color: white;
        border:none;
        padding: 0;
        font-size:18px;
        font-weight: 0 !important;
    }


  }


  .gallery-item{
      position: relative;
      background: none !important;
      outline: none !important;
      object-fit: cover !important;
      display: inline-flex;
      justify-content: center;
      padding: 5px;
      min-width:33.33%;
      min-height: 320px;

      will-change: scroll-position !important;

      @media (max-width:1000px) {
          min-width:50%;
      }
      @media (max-width:620px) {
        min-width:100%;
      }
  }


  .gallery-item-image{
      position: relative !important;
      
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;

      flex-shrink: 0;
      will-change: transform !important;

      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }

    .gallery-item-details{
        display: flex;
        justify-content: space-between;
        padding:5px 0px;
        display: none !important;

        p{
            font-size:13px;
            text-transform: capitalize;
            color: rgba(255,255,255,0.5);
            white-space: nowrap;
            width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
        }
        small{
            font-size:13px;
            text-transform: capitalize;
            color: rgba(255,255,255,0.5);
            white-space: nowrap;
            text-align: right;
        }



    }