.depth-1 {
          box-shadow: 
          0 1.06px 6.106px -1px rgba(0, 0, 0, 0.114), 
          0 0.03px 0.109px -7px rgba(0, 0, 0, 0.110);
}

.depth-2 {
          box-shadow: 
          0 3.02px 7.130px 1px rgba(0, 0, 0, 0.114), 
          0 0.06px 1.109px -7px rgba(0, 0, 0, 0.110); 
}

.depth-3 {
          box-shadow: 
          0 6.04px 8.130px -1px rgba(0, 0, 0, 0.114), 
          0 1.02px 3.109px -7px rgba(0, 0, 0, 0.110);
}

.depth-4 {
          box-shadow: 
          0 9.06px 9.130px -1px rgba(0, 0, 0, 0.114), 
          0 1.06px 4.109px -7px rgba(0, 0, 0, 0.110);
}

.depth-5 {
          box-shadow: 
          0 10.02px 10.130px -1px rgba(0, 0, 0, 0.114), 
          0 2.03px 5.109px -7px rgba(0, 0, 0, 0.110);
}



