.inset-top-5{
    margin-top: 5px !important;
}
.inset-top-10{
    margin-top: 10px !important;
}
.inset-top-15{
    margin-top: 15px !important;
}
.inset-top-20{
    margin-top: 20px !important;
}
.inset-top-25{
    margin-top: 25px !important;
}
.inset-top-30{
    margin-top: 30px !important;
}
.inset-top-35{
    margin-top: 35px !important;
}
.inset-top-40{
    margin-top: 40px !important;
}
.inset-top-45{
    margin-top: 45px !important;
}
.inset-top-50{
    margin-top: 50px !important;
}

.inset-bottom-5{
    margin-bottom: 5px !important;
}
.inset-bottom-10{
    margin-bottom: 10px !important;
}
.inset-bottom-15{
    margin-bottom: 15px !important;
}
.inset-bottom-20{
    margin-bottom: 20px !important;
}
.inset-bottom-25{
    margin-bottom: 25px !important;
}
.inset-bottom-30{
    margin-bottom: 30px !important;
}
.inset-bottom-35{
    margin-bottom: 35px !important;
}
.inset-bottom-40{
    margin-bottom: 40px !important;
}
.inset-bottom-45{
    margin-bottom: 45px !important;
}
.inset-bottom-50{
    margin-bottom: 50px !important;
}

.inset-left-5{
    margin-left: 5px !important;
}
.inset-left-10{
    margin-left: 10px !important;
}
.inset-left-15{
    margin-left: 15px !important;
}
.inset-left-20{
    margin-left: 20px !important;
}
.inset-left-25{
    margin-left: 25px !important;
}
.inset-left-30{
    margin-left: 30px !important;
}
.inset-left-35{
    margin-left: 35px !important;
}
.inset-left-40{
    margin-left: 40px !important;
}
.inset-left-45{
    margin-left: 45px !important;
}
.inset-left-50{
    margin-left: 50px !important;
}

.inset-right-5{
    margin-right: 5px !important;
}
.inset-right-10{
    margin-right: 10px !important;
}
.inset-right-15{
    margin-right: 15px !important;
}
.inset-right-20{
    margin-right: 20px !important;
}
.inset-right-25{
    margin-right: 25px !important;
}
.inset-right-30{
    margin-right: 30px !important;
}
.inset-right-35{
    margin-right: 35px !important;
}
.inset-right-40{
    margin-right: 40px !important;
}
.inset-right-45{
    margin-right: 45px !important;
}
.inset-right-50{
    margin-right: 50px !important;
}



.offset-top-5{
    margin-top: -5px !important;
}
.offset-top-10{
    margin-top: -10px !important;
}
.offset-top-15{
    margin-top: -15px !important;
}
.offset-top-20{
    margin-top: -20px !important;
}
.offset-top-25{
    margin-top: -25px !important;
}
.offset-top-30{
    margin-top: -30px !important;
}
.offset-top-35{
    margin-top: -35px !important;
}
.offset-top-40{
    margin-top: -40px !important;
}
.offset-top-45{
    margin-top: -45px !important;
}
.offset-top-50{
    margin-top: -50px !important;
}

.offset-bottom-5{
    margin-bottom: -5px !important;
}
.offset-bottom-10{
    margin-bottom: -10px !important;
}
.offset-bottom-15{
    margin-bottom: -15px !important;
}
.offset-bottom-20{
    margin-bottom: -20px !important;
}
.offset-bottom-25{
    margin-bottom: -25px !important;
}
.offset-bottom-30{
    margin-bottom: -30px !important;
}
.offset-bottom-35{
    margin-bottom: -35px !important;
}
.offset-bottom-40{
    margin-bottom: -40px !important;
}
.offset-bottom-45{
    margin-bottom: -45px !important;
}
.offset-bottom-50{
    margin-bottom: -50px !important;
}

.offset-left-5{
    margin-left: -5px !important;
}
.offset-left-10{
    margin-left: -10px !important;
}
.offset-left-15{
    margin-left: -15px !important;
}
.offset-left-20{
    margin-left: -20px !important;
}
.offset-left-25{
    margin-left: -25px !important;
}
.offset-left-30{
    margin-left: -30px !important;
}
.offset-left-35{
    margin-left: -35px !important;
}
.offset-left-40{
    margin-left: -40px !important;
}
.offset-left-45{
    margin-left: -45px !important;
}
.offset-left-50{
    margin-left: -50px !important;
}

.offset-right-5{
    margin-right: -5px !important;
}
.offset-right-10{
    margin-right: -10px !important;
}
.offset-right-15{
    margin-right: -15px !important;
}
.offset-right-20{
    margin-right: -20px !important;
}
.offset-right-25{
    margin-right: -25px !important;
}
.offset-right-30{
    margin-right: -30px !important;
}
.offset-right-35{
    margin-right: -35px !important;
}
.offset-right-40{
    margin-right: -40px !important;
}
.offset-right-45{
    margin-right: -45px !important;
}
.offset-right-50{
    margin-right: -50px !important;
}



.text-justify{
    text-align: justify;
    text-justify: distribute;
    word-break: break-all;
    word-wrap: inter-word;
}

.text-center{
    text-align: center;
}






.margin-center{
    margin-top: auto !important;
    margin-left: auto !important;
    margin-bottom: auto !important;
    margin-right: auto !important;
}


.margin-top{
    margin-top: 0 !important;
}
.margin-left{
    margin-left: 0 !important;
}
.margin-bottom{
    margin-bottom: 0 !important;
}
.margin-right{
    margin-right: 0 !important;
}




.float-left{
    float: left !important;
}
.float-right{
    float: right !important;
}




.soft-corners-1{
    border-radius: 6px;
}
.soft-corners-2{
    border-radius: 8px;
}
.soft-corners-3{
    border-radius: 10px;
}
.soft-corners-4{
    border-radius: 12px;
}
.soft-corners-5{
    border-radius: 14px;
}





.squaretify{
    border-radius: 0 !important;
}
.roundify{
    border-radius: 10000000000px;
}



.fixed-top{
    position: fixed;
    top: 0;
}






.flex-center{
    display: flex;
    justify-content: center;
}





.blur-bg{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    
    width: 100%;
    height: 100%;
    
    filter: blur(5px);
    transform: scale(1.19);
    
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: -2;
    }
    .blur-bg::after{
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background:rgba(45, 62, 80, 0.2);
      z-index: -1;
    }






    .search-wrapper{
        margin: auto;
        display: flex;
        justify-content: space-between;
        width:50%;
        
        input{
            border:none;
            background: none;
            color:white;
            padding:7px 10px;
            border-bottom: solid 1px white;
            width:100%;
            outline: none ;
        }

        button{
            padding: 10px;
        }
        
    }



    .horizontal-slider{
        display: flex !important;
        width:100%;
        overflow: hidden !important;
        overflow-x: auto !important;
        will-change: contents !important;
        padding: 30px 0;

        .horizontal-align{
            display: inline-block !important;
            will-change: scroll-position !important;
        }
    }









    .padding-5{
        padding: 5px;
    }
    .padding-10{
        padding: 10px;
    }
    .padding-15{
        padding: 15px;
    }
    .padding-20{
        padding: 20px;
    }
    .padding-25{
        padding: 25px;
    }
    .padding-30{
        padding: 30px;
    }
    .padding-35{
        padding: 35px;
    }
    .padding-40{
        padding: 40px;
    }
    .padding-45{
        padding: 45px;
    }
    .padding-50{
        padding: 45px;
    }



    .cursor-pointer{
        cursor: pointer !important;
    }


    .font-size-10{
        font-size: 10px;
    }
    .font-size-15{
        font-size: 15px;
    }
    .font-size-20{
        font-size: 20px;
    }
    .font-size-25{
        font-size: 25px;
    }
    .font-size-30{
        font-size: 30px;
    }
    .font-size-35{
        font-size: 35px;
    }
    .font-size-40{
        font-size: 40px;
    }
    .font-size-45{
        font-size: 45px;
    }
    .font-size-50{
        font-size: 50px;
    }







    .input-file::-webkit-file-upload-button {
      display: none;
    }
     .input-file::before {
      content: 'select file for upload' !important;
      cursor: pointer;
      display: block;
      border:none !important;
      outline: none !important;
      width:100% !important;
      height: 100%;
      font-size:18px;
      font-weight: 420px;
      padding: 0 !important;
      margin: auto !important;
      text-align: center !important;
    }