@charset "UTF-8";

@import url("https://unicons.iconscout.com/release/v1.0.0/css/unicons.css");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


@import './imports/shadows';
@import './imports/navbar';
@import './imports/colors';
@import './imports/containers';
@import './imports/utilities';
@import './imports/scrollbars';
@import './imports/per_projects';
@import './imports/grid';
@import './imports/carousel';
@import './imports/animate';
@import './imports/dropdowns';

*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}


body,html{
  
    box-sizing: border-box !important;
    transition: all 0.5s ease-in-out !important;

    scroll-behavior: smooth !important;
    -webkit-overflow-scrolling: smooth !important;
    -ms-overflow-style: scrollbar !important;

    /* Adjust font size */
    font-size: 100% !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    line-height: 1.5 !important;
    
    /* Font varient */
    font-variant-ligatures: none !important;
    -webkit-font-variant-ligatures: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    
    /* Smoothing */
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale !important;
    // eslint-disable-next-line no-console
    font-smoothing: subpixel-antialiased !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px !important;
     
    /* Font compatility and weight */
    font-weight: 420 !important;
    font-family: -apple-system, BlinkMacSystemFont,'Roboto','Open sans', sans-serif !important;

}



/** Add the correct display in IE 9-. */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}


button{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}
audio {
  max-width: 100%;
}
iframe {
  border: 0;
}


a,button{
    cursor: pointer;
}





























